<br>
<div class="card">
  <div class="card-header">
    <h2>Your Families</h2>
  </div>
  <div class="card-body">

<%
  user.results.forEach(family =>
  {
%>
  <h4> <%= family['family_name'] %> </h4>
<%
  });
%>
</div>
</div>
