
	<div class="modal fade" id="joinFamilyModal" tabindex="-1" role="dialog" aria-labelledby="joinFamilyModalTitle" aria-hidden="true">
	  <div class="modal-dialog" role="document">
		<div class="modal-content">
		  <div class="modal-header">
  			<h5 class="modal-title" id="joinFamilyModalTitle">Join a Family</h5>
  			<button type="button" class="close" data-dismiss="modal" aria-label="Close">
  			     <span aria-hidden="true">&times;</span>
  			</button>
		  </div>
		  <form id="joinFamily">
  		  <div class="modal-body">
  		  	<input id="family_name-j" class="form-control form-control-lg" name="family_name" type='text' placeholder="Family Name" required></input>
  			<br>
			<input id="family_code-j" class="form-control form-control-lg" name="family_code" type='text' placeholder="Family Code" required></input>
  			<li>Ask a current Family member</li>
  		  </div>
		  <div class="modal-footer">
			<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
			<button type="submit" class="btn btn-primary">Join Family</button>
		  </div>
		  </form>
		</div>
	  </div>
	</div>
  
