<div id="message"></div>

<% if (!user.loggedin) {%> 
<form id='login' class="form-inline my-2 my-lg-0" >
<input class="form-control mr-sm-2" type="text" id="username" placeholder="Username" autocomplete="username" required/>
<input class="form-control mr-sm-2" type="password" id="password" placeholder="Password" autocomplete="current-password" required/>
<button class="btn btn-outline-success my-2 mr-sm-2" type="submit" value="Login">Login</button>



<%} else {%>
<form id='logout' class="form-inline my-2 my-lg-0" >
<button class="btn btn-outline-danger my-2 my-sm-2" type="submit" value="Logout">Logout</button>

<%} %>
</form>
