<!DOCTYPE html>
<html>
<head>
<%- include ("../partials/head.ejs") %>
<link rel="stylesheet" type="text/css" href="stylesheets/index.css"/>
<script src="javascript/index.js"></script>
</head>
<% if (message != "") { %> 
<body onload="displayMessage('<%= message %>')">

<div class="message" id="message" ></div>

<% } else {%>
<body>
<% } %>

<%- include ("../partials/menu.ejs") %>

</body>
</html>
