<!DOCTYPE html>
<html>
<head>
<%- include ("../partials/head.ejs") %>
<link rel="stylesheet" type="text/css" href="stylesheets/index.css"/>
<script src="javascript/index.js"></script>
</head>
<body>
<%- include ("../partials/menu.ejs") %>

<button type="button" class="btn btn-outline-danger" onclick="deleteAccount()">Delete Account</button>
<h2><strong>Beware: This will delete all your recipes and any families that you are the head of.</strong></h2>
<script src="javascript/settings.js"></script>

</body>
</html>
